body {
    zoom: 110%;
    position: fixed;
    background-color: #7b2e60;
    margin: 0; 
    height: 100vh; 
}

.nota{
    position: fixed;
    color: #f1e3e6;
    bottom: 0%; 
    right: 1%;
}

.distintivo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 15px;
}

.distintivo img {
    height: 100px;
    filter: drop-shadow(2px 2px 2px #380023);}

.impostazioni {
    border: none;
    padding: 0;
    position: fixed;
    top: 40%;
    left: 20%;
    background: url("img/imp-a1.png") no-repeat center center;
    background-size: contain;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.impostazioni:active {
    background-image: url("img/imp-p1.png");
}

.gioca {
    border: none;
    padding: 0;
    position: fixed;
    top: 40%;
    right: 20%;
    background: url("img/gio-a1.png") no-repeat center center;
    background-size: contain;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.gioca:active {
    background-image: url("img/gio-p1.png");
}


.contenitore {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.contenuto {
    background-color: #f1e3e6;
    border: 5px solid #b26193;
    position: fixed;
    width: 40vw;
    height: 40vh;
    border-radius: 5%;
    padding-top: 5%;
    position: relative;
}

.noc1 {
    display: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 60px;
    left: 50px;
    width: 200px;
    height: 200px;
    background: url("img/noc1-a.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.noc1:active {
    background-image: url("img/noc1-p.png");
}

.noc2 {
    display: none;
    border: none;
    padding: 0;
    position: absolute;
    bottom: 55px;
    right: 50px;
    width: 200px;
    height: 200px;
    background: url("img/noc2-a.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.noc2:active {
    background-image: url("img/noc2-p.png");
}
