body {
    zoom: 110%;
    position: fixed;
    background-color: #85727c;
    margin: 0; 
    height: 100vh; 
}

#filtro {
    position: absolute;
    right: 5%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateZ(0);
    will-change: filter;
    backface-visibility: hidden;
    isolation: isolate;
    box-sizing: border-box;
}

.pulsantiera {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 50px;
}

.S1{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.S2{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.S3{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.S4{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.S5{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.filtro-normale {
    filter: none !important;
}

.filtro-protanopia {
    filter: contrast(0.8) brightness(1.2) saturate(0.6) hue-rotate(10deg);
}

.filtro-deuteranopia {
    filter: contrast(0.8) brightness(1.2) saturate(0.5);
}

.filtro-tritanopia {
    filter: contrast(0.7) brightness(1.1) hue-rotate(45deg);
}
