body {
    zoom: 110%;
    position: fixed;
    background-color: #85727c;
    margin: 0; 
    height: 100vh; 
}

.pulsantiera {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 50px;
}

.S1{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.S2{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.S3{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.S4{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.S5{
    width: 100px;
    height: 100px;
    cursor: pointer;
}